body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
    background-color: #000;
    color: white;
    box-sizing: border-box;
    
  }
  
  .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("/static/background/Background-4.png");/* Disesuaikan dengan struktur folder */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: aliceblue;
}

 .navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
    background-color: rgb(235, 235, 235, 50%);
  }
  
  .logo-company {
    width: 76px;
    height: 76px;
  }

  .logo-company img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .button {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 50px;
    list-style: none;
  }
  
  .active{
    color: #3b3b3b;
    font-size: 20px;;
    position: relative;
    padding: 10px;
  }  

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 900px;
    gap: 20px;
  }

  .logo-game{
    width: 500px;
   }

   p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
   }

   .platform{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 100px;
   }

   .platform-icon{
    width: 250px;
    height: 90px;
    transition: all 0.3s ease; 
    transform: scale(1);       
   }

   .platform-icon:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
   }