{% extends 'dashboard/base.html'  %}

{% block title %}Konfirmasi Hapus Senjata{% endblock %}
{% block page_title %}Konfirmasi Hapus Senjata{% endblock %}

{% block content %}
<div class="container">
    <h1>Konfirmasi Hapus</h1>
    <p>Apakah Anda yakin ingin menghapus senjata "{{ weapon.nama }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-delete">Ya, Hapus</button>
        <a href="{% url 'dashboard:weapon_detail_update' weapon.pk %}" class="btn btn-back">Batal</a>
    </form>
</div>
{% endblock %}