{% extends 'base.html' %}
{% load static %}

{% block title %}{{ resonator.name }} Build Review - Web ku{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/review.css' %}">
    <link rel="stylesheet" href="{% static 'css/build_review.css' %}">
    <link rel="stylesheet" href="{% static 'css/difference_stat.css' %}">
{% endblock %}

{% block content %}
    <div class="review-page-container">
        {% include 'landingpage/build_review.html' %}
        <hr class="section-divider">
        {% include 'landingpage/difference_stat.html' %}
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {{ performance_data_json|json_script:"performance-data" }}
{% endblock %}
