{% extends 'base.html' %}
{% load static %}
{% block title %}Web ku - Home Page{% endblock %}

{% block extra_head %}
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

    <div class="hero">
        <img src="{% static 'assets/logo/Wuthering-Waves-Logo-Day.png' %}" alt="logo-game" class="logo-game">
        <p>Released on Multiple Platforms - Download Now!!</p>
        <div class="platform">
            <img src="{% static 'assets/logo/Google-Play.png' %}" alt="playstore" class="platform-icon"> 
            <img src="{% static 'assets/logo/App-Store.png' %}" alt="appstore" class="platform-icon">
            <img src="{% static 'assets/logo/Windows.png'%}" alt="windows" class="platform-icon">
            <img src="{% static 'assets/logo/Ps5.png' %}" alt="ps5" class="platform-icon">
        </div>
    </div>

{% endblock content %} 